div{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(184, 236, 184);
    margin: 20% 40%;
    text-align: center;
    font-weight: bolder;
    padding: 20px 30px;
    width: 160px;
    display: inline-block;
    vertical-align: middle;
}

div.turnY{
    animation: 1.5s turn 1;
}

@keyframes turn{
    0%{
        opacity: 0.5;
        transform: perspective(200px)
                    rotateY(90deg);
    }40%{
        transform: perspective(200px)
                    rotateY(-20deg);
    }70%{
        transform: perspective(200px)
                    rotateY(20deg);
    }
}