body{
    background: #FFF;
}

.content{
    width: 150px;
    height: 150px;
    margin: 100px;
    background: url("mapa.png");
    border-radius: 50%;
    animation: 10s rotation infinite linear; 
    box-shadow: 0px 5px 15px #888;
}

/* This does nothing */
.shadow3d{
    background: url("shadow.png");
    position: absolute;
    width: 150px;
    height: 150px;
}
@keyframes rotation{
    0%{
        background-position: 0px 0px;
    }100%{
        background-position: -160px 0px;
    }
}